In [1]:
import pandas as pd

data = pd.read_csv("./data/titanic.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
data["Age"][:5]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [3]:
data[["Age","Fare"]][:5]

    Age     Fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [4]:
data[0]

KeyError: 0

In [5]:
data.iloc[0]

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                                 22
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

In [6]:
data.iloc[0:5]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
data.iloc[0:5,1:3]

   Survived  Pclass
0         0       3
1         1       1
2         1       3
3         1       1
4         0       3

In [8]:
data = data.set_index("Name")
data.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
data.loc["Heikkinen, Miss. Laina"]

PassengerId                   3
Survived                      1
Pclass                        3
Sex                      female
Age                          26
SibSp                         0
Parch                         0
Ticket         STON/O2. 3101282
Fare                      7.925
Cabin                       NaN
Embarked                      S
Name: Heikkinen, Miss. Laina, dtype: object

In [10]:
data.loc["Heikkinen, Miss. Laina","Age"]

26.0

In [11]:
data.loc["Heikkinen, Miss. Laina":"Allen, Mr. William Henry"]

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.925,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.100,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.050,NaN,S

In [12]:
data.loc["Heikkinen, Miss. Laina":"Allen, Mr. William Henry",["Age","Fare"]]

                                               Age    Fare
Name
Heikkinen, Miss. Laina                        26.0   7.925
Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0  53.100
Allen, Mr. William Henry                      35.0   8.050

In [13]:
data.loc["Heikkinen, Miss. Laina","Age"] = 400
data.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,400.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
data [data["Age"]>30]

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,400.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
"McCarthy, Mr. Timothy J",7,0,1,male,54.0,0,0,17463,51.8625,E46,S
"Bonnell, Miss. Elizabeth",12,1,1,female,58.0,0,0,113783,26.5500,C103,S
"Andersson, Mr. Anders Johan",14,0,3,male,39.0,1,5,347082,31.2750,NaN,S
"Hewlett, Mrs. (Mary D Kingcome)",16,1,2,female,55.0,0,0,248706,16.0000,NaN,S
"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",19,0,3,female,31.0,1,0,345763,18.0000,NaN,S
"Fynney, Mr. Joseph J",21,0,2,male,35.0,0,0,239865,26.0000,NaN,S
"Beesley, Mr. Lawrence",22,1,2,male,34.0,0,0,248698,13.0000,D56,S
"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",26,1,3,female,38.0,1,5,347077,31.3875,NaN,S
"Uruchurtu, Don. Manuel E",31,0,1,male,40.0,0,0,PC 17601,27.7208,NaN,C
"Wheadon, Mr. Edward H",34,0,2,male,66.0,0,0,C.A. 24579,10.5000,NaN,S
"Holverson, Mr. Alexander Oskar",36,0,1,male,42.0,1,0,113789,52.0000,NaN,S
"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",41,0,3,female,40.0,1,0,7546,9.4750,NaN,S
"Harper, Mrs. Henry Sleeper (Myna Haxtun)",53,1,1,female,49.0,1,0,PC 17572,76.7292,D33,C
"Ostby, Mr. Engelhart Cornelius",55,0,1,male,65.0,0,1,113509,61.9792,B30,C
"Icard, Miss. Amelie",62,1,1,female,38.0,0,0,113572,80.0000,B28,NaN
"Harris, Mr. Henry Birkhardt",63,0,1,male,45.0,1,0,36973,83.4750,C83,S
"Jenkin, Mr. Stephen Curnow",71,0,2,male,32.0,0,0,C.A. 33111,10.5000,NaN,S
"Bing, Mr. Lee",75,1,3,male,32.0,0,0,1601,56.4958,NaN,S
"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",86,1,3,female,33.0,3,0,3101278,15.8500,NaN,S
"Chaffee, Mr. Herbert Fuller",93,0,1,male,46.0,1,0,W.E.P. 5734,61.1750,E31,S
"Coxon, Mr. Daniel",95,0,3,male,59.0,0,0,364500,7.2500,NaN,S
"Goldschmidt, Mr. George B",97,0,1,male,71.0,0,0,PC 17754,34.6542,A5,C
"Doling, Mrs. John T (Ada Julia Bone)",99,1,2,female,34.0,0,1,231919,23.0000,NaN,S
"Kantor, Mr. Sinai",100,0,2,male,34.0,1,0,244367,26.0000,NaN,S
"Johansson, Mr. Gustaf Joel",104,0,3,male,33.0,0,0,7540,8.6542,NaN,S
"Gustafsson, Mr. Anders Vilhelm",105,0,3,male,37.0,2,0,3101276,7.9250,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
"Meyer, Mr. August",809,0,2,male,39.0,0,0,248723,13.0000,NaN,S
"Chambers, Mrs. Norman Campbell (Bertha Griggs)",810,1,1,female,33.0,1,0,113806,53.1000,E8,S
"Lester, Mr. James",812,0,3,male,39.0,0,0,A/4 48871,24.1500,NaN,S
"Slemen, Mr. Richard James",813,0,2,male,35.0,0,0,28206,10.5000,NaN,S
"Tomlin, Mr. Ernest Portage",815,0,3,male,30.5,0,0,364499,8.0500,NaN,S
"Mallet, Mr. Albert",818,0,2,male,31.0,1,1,S.C./PARIS 2079,37.0042,NaN,C
"Holm, Mr. John Fredrik Alexander",819,0,3,male,43.0,0,0,C 7075,6.4500,NaN,S
"Hays, Mrs. Charles Melville (Clara Jennings Gregg)",821,1,1,female,52.0,1,1,12749,93.5000,B69,S
"Reuchlin, Jonkheer. John George",823,0,1,male,38.0,0,0,19972,0.0000,NaN,S
"Stone, Mrs. George Nelson (Martha Evelyn)",830,1,1,female,62.0,0,0,113572,80.0000,B28,NaN
"Compton, Miss. Sara Rebecca",836,1,1,female,39.0,1,1,PC 17756,83.1583,E49,C
"Chip, Mr. Chang",839,1,3,male,32.0,0,0,1601,56.4958,NaN,S
"Lemberopolous, Mr. Peter L",844,0,3,male,34.5,0,0,2683,6.4375,NaN,C
"Abbing, Mr. Anthony",846,0,3,male,42.0,0,0,C.A. 5547,7.5500,NaN,S
"Markoff, Mr. Marin",848,0,3,male,35.0,0,0,349213,7.8958,NaN,C
"Svensson, Mr. Johan",852,0,3,male,74.0,0,0,347060,7.7750,NaN,S
"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",855,0,2,female,44.0,1,0,244252,26.0000,NaN,S
"Wick, Mrs. George Dennick (Mary Hitchcock)",857,1,1,female,45.0,1,1,36928,164.8667,NaN,S
"Daly, Mr. Peter Denis",858,1,1,male,51.0,0,0,113055,26.5500,E17,S
"Hansen, Mr. Claus Peter",861,0,3,male,41.0,2,0,350026,14.1083,NaN,S
"Swift, Mrs. Frederick Joel (Margaret Welles Barron)",863,1,1,female,48.0,0,0,17466,25.9292,D17,S
"Bystrom, Mrs. (Karolina)",866,1,2,female,42.0,0,0,236852,13.0000,NaN,S
"Roebling, Mr. Washington Augustus II",868,0,1,male,31.0,0,0,PC 17590,50.4958,A24,S
"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",872,1,1,female,47.0,1,1,11751,52.5542,D35,S
"Carlsson, Mr. Frans Olof",873,0,1,male,33.0,0,0,695,5.0000,B51 B53 B55,S
"Vander Cruyssen, Mr. Victor",874,0,3,male,47.0,0,0,345765,9.0000,NaN,S
"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",880,1,1,female,56.0,0,1,11767,83.1583,C50,C
"Markun, Mr. Johann",882,0,3,male,33.0,0,0,349257,7.8958,NaN,S
"Rice, Mrs. William (Margaret Norton)",886,0,3,female,39.0,0,5,382652,29.1250,NaN,Q
"Dooley, Mr. Patrick",891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [15]:
data [data["Sex"]=="female"]

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,400.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",9,1,3,female,27.0,0,2,347742,11.1333,NaN,S
"Nasser, Mrs. Nicholas (Adele Achem)",10,1,2,female,14.0,1,0,237736,30.0708,NaN,C
"Sandstrom, Miss. Marguerite Rut",11,1,3,female,4.0,1,1,PP 9549,16.7000,G6,S
"Bonnell, Miss. Elizabeth",12,1,1,female,58.0,0,0,113783,26.5500,C103,S
"Vestrom, Miss. Hulda Amanda Adolfina",15,0,3,female,14.0,0,0,350406,7.8542,NaN,S
"Hewlett, Mrs. (Mary D Kingcome)",16,1,2,female,55.0,0,0,248706,16.0000,NaN,S
"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",19,0,3,female,31.0,1,0,345763,18.0000,NaN,S
"Masselmani, Mrs. Fatima",20,1,3,female,NaN,0,0,2649,7.2250,NaN,C
"McGowan, Miss. Anna ""Annie""",23,1,3,female,15.0,0,0,330923,8.0292,NaN,Q
"Palsson, Miss. Torborg Danira",25,0,3,female,8.0,3,1,349909,21.0750,NaN,S
"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",26,1,3,female,38.0,1,5,347077,31.3875,NaN,S
"O'Dwyer, Miss. Ellen ""Nellie""",29,1,3,female,NaN,0,0,330959,7.8792,NaN,Q
"Spencer, Mrs. William Augustus (Marie Eugenie)",32,1,1,female,NaN,1,0,PC 17569,146.5208,B78,C
"Glynn, Miss. Mary Agatha",33,1,3,female,NaN,0,0,335677,7.7500,NaN,Q
"Vander Planke, Miss. Augusta Maria",39,0,3,female,18.0,2,0,345764,18.0000,NaN,S
"Nicola-Yarred, Miss. Jamila",40,1,3,female,14.0,1,0,2651,11.2417,NaN,C
"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",41,0,3,female,40.0,1,0,7546,9.4750,NaN,S
"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",42,0,2,female,27.0,1,0,11668,21.0000,NaN,S
"Laroche, Miss. Simonne Marie Anne Andree",44,1,2,female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C
"Devaney, Miss. Margaret Delia",45,1,3,female,19.0,0,0,330958,7.8792,NaN,Q
"O'Driscoll, Miss. Bridget",48,1,3,female,NaN,0,0,14311,7.7500,NaN,Q
"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",50,0,3,female,18.0,1,0,349237,17.8000,NaN,S
"Harper, Mrs. Henry Sleeper (Myna Haxtun)",53,1,1,female,49.0,1,0,PC 17572,76.7292,D33,C
"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",54,1,2,female,29.0,1,0,2926,26.0000,NaN,S
"Rugg, Miss. Emily",57,1,2,female,21.0,0,0,C.A. 31026,10.5000,NaN,S
"West, Miss. Constance Mirium",59,1,2,female,5.0,1,2,C.A. 34651,27.7500,NaN,S
"Icard, Miss. Amelie",62,1,1,female,38.0,0,0,113572,80.0000,B28,NaN
...,...,...,...,...,...,...,...,...,...,...,...
"Pettersson, Miss. Ellen Natalia",808,0,3,female,18.0,0,0,347087,7.7750,NaN,S
"Chambers, Mrs. Norman Campbell (Bertha Griggs)",810,1,1,female,33.0,1,0,113806,53.1000,E8,S
"Andersson, Miss. Ebba Iris Alfrida",814,0,3,female,6.0,4,2,347082,31.2750,NaN,S
"Heininen, Miss. Wendla Maria",817,0,3,female,23.0,0,0,STON/O2. 3101290,7.9250,NaN,S
"Hays, Mrs. Charles Melville (Clara Jennings Gregg)",821,1,1,female,52.0,1,1,12749,93.5000,B69,S
"Moor, Mrs. (Beila)",824,1,3,female,27.0,0,1,392096,12.4750,E121,S
"Stone, Mrs. George Nelson (Martha Evelyn)",830,1,1,female,62.0,0,0,113572,80.0000,B28,NaN
"Yasbeck, Mrs. Antoni (Selini Alexander)",831,1,3,female,15.0,1,0,2659,14.4542,NaN,C
"Compton, Miss. Sara Rebecca",836,1,1,female,39.0,1,1,PC 17756,83.1583,E49,C
"Serepeca, Miss. Augusta",843,1,1,female,30.0,0,0,113798,31.0000,NaN,C
"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",850,1,1,female,NaN,1,0,17453,89.1042,C92,C
"Boulos, Miss. Nourelain",853,0,3,female,9.0,1,1,2678,15.2458,NaN,C
"Lines, Miss. Mary Conover",854,1,1,female,16.0,0,1,PC 17592,39.4000,D28,S
"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",855,0,2,female,44.0,1,0,244252,26.0000,NaN,S
"Aks, Mrs. Sam (Leah Rosen)",856,1,3,female,18.0,0,1,392091,9.3500,NaN,S
"Wick, Mrs. George Dennick (Mary Hitchcock)",857,1,1,female,45.0,1,1,36928,164.8667,NaN,S
"Baclini, Mrs. Solomon (Latifa Qurban)",859,1,3,female,24.0,0,3,2666,19.2583,NaN,C
"Swift, Mrs. Frederick Joel (Margaret Welles Barron)",863,1,1,female,48.0,0,0,17466,25.9292,D17,S
"Sage, Miss. Dorothy Edith ""Dolly""",864,0,3,female,NaN,8,2,CA. 2343,69.5500,NaN,S
"Bystrom, Mrs. (Karolina)",866,1,2,female,42.0,0,0,236852,13.0000,NaN,S
"Duran y More, Miss. Asuncion",867,1,2,female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",872,1,1,female,47.0,1,1,11751,52.5542,D35,S
"Abelson, Mrs. Samuel (Hannah Wizosky)",875,1,2,female,28.0,1,0,P/PP 3381,24.0000,NaN,C
"Najib, Miss. Adele Kiamie ""Jane""",876,1,3,female,15.0,0,0,2667,7.2250,NaN,C
"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",880,1,1,female,56.0,0,1,11767,83.1583,C50,C
"Shelley, Mrs. William (Imanita Parrish Hall)",881,1,2,female,25.0,0,1,230433,26.0000,NaN,S
"Dahlberg, Miss. Gerda Ulrika",883,0,3,female,22.0,0,0,7552,10.5167,NaN,S
"Rice, Mrs. William (Margaret Norton)",886,0,3,female,39.0,0,5,382652,29.1250,NaN,Q
"Graham, Miss. Margaret Edith",888,1,1,female,19.0,0,0,112053,30.0000,B42,S
"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [16]:
data.loc[data["Sex"]=="male","Age"].mean()

30.72664459161148

In [17]:
(data["Age"]>65).sum()

9